*.iws
*Db.properties
*Db.script
kbone/.settings
kbone/target-eclipse
kbone/eclipse
kbone/stacktrace.log
kbone/target
kbone/plugins
kbone/web-app/plugins
kbone/web-app/WEB-INF/classes
kbone/target-eclipse
kbone/.classpath
kbone/.groovy
kbone/.project
kbone/caldecott.log
*.war
*.log
